#current {
  h2 {
    color: #2F2A33;
    text-align: center;
    font-family: Inter;
    font-size: 46.125px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    padding-bottom: 20px;
  }

  .current {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;

    &__block {
      border-radius: 10px;
      background: #D2D9E7;
      padding: 10px;
      max-width: 400px;

      &-bl {
        padding: 20px;

        h1 {
          color: #2F2A33;
          font-family: Inter;
          font-size: 30.5px;
          font-style: normal;
          font-weight: 900;
          line-height: 38.4px;
          padding: 10px 0;
        }

        button {
          color: #FFF;
          font-family: Inter;
          font-size: 15.5px;
          font-style: normal;
          font-weight: 900;
          line-height: 25px;
          padding: 20px 40px;
          border-radius: 10px;
          background: #FF7A01;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #current {
    .current {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
}
@media (max-width: 550px) {
  #current {
    .current {
      display: grid;
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
}